# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.swp
*.DS_Store

# Virtual Environments
DL-env/ 

# PyTorch model files
*.pt
*.pth
*.bin
*.ckpt
*.onnx

# Training logs & runs
runs/
logs/
tensorboard/
checkpoints/
events.out.tfevents.*

# Data
data/
datasets/
*.npy
*.npz
*.tgz

# Notebook
.ipynb_checkpoints/

# Cache
.cache/
torch_cache/
torch_extensions/

# Build / Cuda
*.o
*.out
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.iml

# Optional
lightning_logs/
wandb/
huggingface/
.cache/huggingface/
raw/

